<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Latest compiled and minified CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Latest compiled JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>
    <title>home page</title>
</head>

<body>
    <div class="container">
        <h1>this is home page
        </h1>
        <a href="/user/create-user" class="btn btn-info">create</a>
        <a href="/trash" class="btn btn-secondary">🗑 (<%= trash.count %>)</a>
        <table class="table table-hover table-dark mt-3">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">name</th>
                    <th scope="col" colspan="2">email</th>
                </tr>
            </thead>
            <tbody>
                <% userList.forEach(function(item, index) { %>
                    <tr>
                        <th scope="row">

                            <% if (pages>0) { %>
                                <%= currentPage * limit + index + 1 %>
                                    <%} else { %>
                                        <%= index + 1 %>
                                            <% } %>
                        </th>
                        <td>
                            <%= item.userName %>
                        </td>
                        <td>
                            <%= item.email %>
                        </td>

                        <td>
                            <a href="/update-user/<%= item.id %>" class="btn btn-warning">Edit</a>
                            <form action="/user/delete-user/<%= item.id %>" method="POST" class="d-inline">
                                <button class="btn btn-danger">Delete</button>
                            </form>
                        </td>
                    </tr>
                    <% }); %>
            </tbody>
        </table>

        <nav aria-label="Page navigation example">
            <ul class="pagination">

                <% if (pages> 1) { %>
                    <% for (let i=0; i < pages; i++) { %>
                        <li class="page-item"><a class="page-link" href="/user?page=<%= i %>&limit=<%= limit %>">
                                <%= i+1 %>
                            </a></li>
                        <% } %>
                            <% } else { %>
                                <a class="page-link" href="/user?page=0&limit=4">List</a>
                                <% } %>

            </ul>
        </nav>
    </div>
</body>

</html>