<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Latest compiled and minified CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />

    <!-- Latest compiled JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>
    <title>home page</title>
  </head>

  <body>
    <div class="container pt-5">
      <!--delete Modal -->
      <form id="deleteForm" method="POST" class="d-inline"></form>

      <!--delete Modal -->
      <div
        class="modal fade"
        id="deleteModal"
        tabindex="-1"
        aria-labelledby="deleteLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title text-danger" id="deleteLabel">
                Delete warning!
              </h5>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>
            </div>
            <div class="modal-body">Are you sure you want to delete this?</div>
            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-secondary"
                data-bs-dismiss="modal"
              >
                Close
              </button>
              <button type="button" id="deleteBtn" class="btn btn-danger">
                Delete
              </button>
            </div>
          </div>
        </div>
      </div>

      <h1>this is home page</h1>
      <a href="/user/create-user" class="btn btn-info">create</a>
      <a href="/trash" class="btn btn-secondary">🗑 (<%= trash.count %>)</a>
      <table class="table table-hover table-dark mt-3">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">name</th>
            <th scope="col">address</th>
            <th scope="col" colspan="2">email</th>
          </tr>
        </thead>
        <tbody>
          <% if (userList.length>0) { %> <% userList.forEach(function(item,
          index) { %>
          <tr>
            <th scope="row">
              <% if (pages>0) { %> <%= currentPage * limit + index + 1 %> <%}
              else { %> <%= index + 1 %> <% } %>
            </th>
            <td><%= item.userName %></td>
            <td><%= item.email %></td>
            <td><%= item.address %></td>

            <td>
              <a href="/update-user/<%= item.id %>" class="btn btn-warning"
                >Edit</a
              >
              <!-- Button trigger modal -->
              <button
                type="button"
                class="btn btn-danger"
                data-bs-toggle="modal"
                data-bs-target="#deleteModal"
                onclick='setDeleteID("<%= item.id %>")'
              >
                Delete
              </button>
            </td>
          </tr>
          <% }); %> <% } else { %>
          <tr>
            <td colspan="4">
              <span class="h1">Nothing here</span>
            </td>
          </tr>
          <% } %>
        </tbody>
      </table>

      <nav aria-label="Page navigation example">
        <ul class="pagination">
          <% if (pages> 1) { %> <% for (let i=0; i < pages; i++) { %>
          <li class="page-item">
            <a class="page-link" href="/user?page=<%= i %>&limit=<%= limit %>">
              <%= i+1 %>
            </a>
          </li>
          <% } %> <% } else { %>
          <a class="page-link" href="/user?page=0&limit=4">List</a>
          <% } %>
        </ul>
      </nav>
    </div>

    <script>
      let deleteForm = document.getElementById("deleteForm");
      let deleteBtn = document.getElementById("deleteBtn");

      function setDeleteID(id) {
        deleteForm.action = "/user/delete-user/" + id;
      }

      deleteBtn.onclick = () => {
        deleteForm.submit();
      };
    </script>
  </body>
</html>
